<div class="status">
  <div class="copyright">
    {% set copyright_year = date(null, 'YYYY') %}
    &copy; {% if theme.footer.since and theme.footer.since != copyright_year %}{{ theme.footer.since }} – {% endif %}
    <span itemprop="copyrightYear">{{ copyright_year }}</span>
    <span class="with-love">
      <i class="ic i-{{ theme.footer.icon.name }}"></i>
    </span>
    <span class="author" itemprop="copyrightHolder">{{ author }} </span>
    <a href="https://beian.miit.gov.cn/">蜀ICP备2021022030号-1</a> 
  </div>

  {%- if theme.footer.count %}
  <div class="count">
    <span class="post-meta-item-icon">
      <i class="ic i-chart-area"></i>
    </span>

    <span class="post-meta-divider">|</span>
    <span class="post-meta-item-icon">
      <i class="ic i-coffee"></i>
    </span>
  </div>
  {%- endif %}

  {%- if theme.footer.powered %}
  <div class="powered-by">
    {{ __('footer.powered', _url('https://hexo.io', 'Hexo') + ' & Theme.' + _url('https://github.com/amehime/hexo-theme-shoka', 'Shoka')) }}
  </div>
  {%- endif %}
</div>
